.outer-articles {
  min-height: 50vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 100%;
  width: 100%;
}
.loaderContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.loader {
  width: 10%;
}
.no-articles-container {
  height: 50vh;
  display: flex;
  padding: 5%;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
}
@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
