.team-members {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}
.team-member {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
  justify-content: space-evenly;
  background: var(--maxlucent-black);
  box-shadow: -0.5rem 0.5rem 1rem 0.01rem var(--translucent-black);
  color: var(--white);
  gap: 2rem;
}
.ceo-quote:before {
  font-family: Georgia, serif;
  content: "\201C";
  font-size: xxx-large;
  font-weight: bold;
  color: var(--green);
}

.ceo-quote {
  color: var(--white);
  font-size: larger;
  line-height: 2rem;
}
.ceo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post {
  font-size: smaller;
  font-weight: normal;
}
.member {
  border-radius: 100%;
  width: 25%;
}
@media (max-width: 1000px) {
  .team-member {
    padding: 5%;
  }
}
