.outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: conic-gradient(var(--light), var(--darkest));
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.heading-connect {
  color: var(--green);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--maxlucent-black);
  backdrop-filter: blur(1rem);
  height: 60%;
  width: 100%;
  padding: 10%;
  justify-content: space-evenly;
  box-shadow: -2rem 2rem 4rem 0.01rem var(--translucent-black);
}
.input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  color: var(--green);
  caret-color: var(--green);
  font-size: medium;
  border-bottom: 2px solid var(--green);
}
.textContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.cross {
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}
.plus {
  color: var(--green);
  font-size: large;
  border-bottom: 2px solid var(--green);
}
.phoneNum {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.submit {
  width: 100%;
  padding: 2%;
  background: var(--green);
  color: var(--dark);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: medium;
  cursor: pointer;
}

.body {
  resize: vertical;
}

@media (max-width: 550px) {
  .form {
    height: 50%;
    width: 80%;
  }
}
@media (max-width: 400px) {
  .form {
    height: 100%;
    box-shadow: none;
  }
}
