* {
  margin: 0;
  padding: 0;
  box-align: border-box;
  font-family: "Roboto", sans-serif;
}
.material-icons {
  color: var(--green);
  font-size: xx-large;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  color: var(--light-orange);
  background-color: var(--light);
}
:root {
  --darkest: #291185;
  --dark: #0f42b4;
  --light: #2182db;
  --green: #00ff2a;
  --light-orange: greenyellow;
  --white: white;
  --translucent-black: rgba(0, 0, 0, 0.8);
  --black: black;
  --shadow: grey;
}
