* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.material-icons {
  color: var(--green);
  font-size: xx-large;
}
body {
  background: linear-gradient(45deg, var(--darkest), var(--light));
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--green);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--green), var(--darkest));
  border-radius: 10px;
}
::selection {
  color: var(--green);
  background-color: var(--light);
}
:root {
  --darkest: rgb(11, 0, 100);
  --dark: rgb(11, 0, 100);
  --light: rgb(11, 0, 100);
  --highlight: rgb(255, 68, 68);
  --green: #4ecfb3;
  --white: white;
  --translucent-black: rgba(0, 0, 0, 0.8);
  --maxlucent-black: rgba(0, 0, 0, 0.4);
  --black: black;
  --shadow: grey;
}
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
