.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: var(--light);
}
.inner-container {
  width: 50%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  border: none;
  border-radius: 0.2rem;
}
.inner-2 {
  width: 30%;
}
.active {
  color: var(--green) !important;
}
.contact {
  background: var(--green);
  color: var(--dark) !important;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.01rem var(--translucent-black);
}
.logo {
  width: 40%;
  background: var(--green);
}

.link {
  text-decoration: none;
  color: var(--darkest);
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
}
.link-responsive {
  color: var(--light);
}
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
.menu-item {
  background: var(--green);
  height: 0.2rem;
  width: 1rem;
  border-radius: 0.5rem;
}

.responsive {
  display: flex;
  position: fixed;
  background: var(--translucent-black);
  backdrop-filter: blur(0.5rem);
  margin-left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
  transition: transform 500ms ease-in-out;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}
.responsive-collapsed {
  transform: translateX(200%);
}

@media (max-width: 1000px) {
  .inner-1 {
    justify-content: space-around;
    width: 100%;
  }
  .inner-2 {
    display: none;
  }
  .menu {
    display: flex;
  }
}
